*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    padding: 50px;
}

h1{
    margin-bottom: 10px;
}

main > p {
    margin-bottom: 15px;
}

.jumbotron{
width: 100%;
display: flex;
/* justify-content: space-between; */
flex-direction: row;
gap: 20px;
align-items: center;
}

.picture > img{
    border-radius: 15px;
}

.plans ul > ol{
    margin-bottom: 10px;
}

.text-center{
    text-align: center !important;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 85px;
    margin-bottom: 20px;
}

.links a {
    text-decoration: none;
}
.slackInfo{
    margin: 5px 0;
    font-size: 12px;
}

.slackInfo  a{
    text-decoration: none;
}

@media(width < 426px) {
    .jumbotron{
        display: flex;
    justify-content: center;
    flex-direction: column;
    }

    .links{
        gap: 20px;
    }
}